<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pblog.user.module.business.series.mapper.SeriesMapper">

    <sql id="seriesColumns">
        s.id,
        s.series_name,
        s.cover_file_id,
        s.description,
        s.status,
        s.author_username,
        s.create_time,
        s.update_time,
        COUNT(DISTINCT CASE
            WHEN a.id IS NOT NULL
            <if test="!includeDisabled">
                AND a.status = '1'
            </if>
            THEN r.article_id
        END) AS article_count
    </sql>

    <select id="selectSeriesPage" resultType="com.pblog.common.domain.vo.SeriesVO">
        SELECT <include refid="seriesColumns" />
        FROM pb_series s
        LEFT JOIN pb_sa_relation r ON r.series_id = s.id AND r.del_flag = '0'
        LEFT JOIN pb_article a ON a.id = r.article_id AND a.del_flag = '0'
        WHERE s.del_flag = '0'
        <if test="!includeDisabled">
            AND s.status = '0'
        </if>
        <if test="username != null and username != ''">
            AND s.author_username = #{username}
        </if>
        <if test="query.keyword != null and query.keyword.trim() != ''">
            AND (s.series_name LIKE CONCAT('%', #{query.keyword}, '%')
                OR s.description LIKE CONCAT('%', #{query.keyword}, '%'))
        </if>
        GROUP BY s.id, s.series_name, s.cover_file_id, s.description, s.status,
                 s.author_username, s.create_time, s.update_time
        ORDER BY article_count DESC, s.update_time DESC, s.id DESC
    </select>

    <select id="selectSeriesVOById" resultType="com.pblog.common.domain.vo.SeriesVO">
        SELECT <include refid="seriesColumns" />
        FROM pb_series s
        LEFT JOIN pb_sa_relation r ON r.series_id = s.id AND r.del_flag = '0'
        LEFT JOIN pb_article a ON a.id = r.article_id AND a.del_flag = '0'
        WHERE s.id = #{id}
          AND s.del_flag = '0'
        <if test="!includeDisabled">
            AND s.status = '0'
        </if>
        <if test="username != null and username != ''">
            AND s.author_username = #{username}
        </if>
        GROUP BY s.id, s.series_name, s.cover_file_id, s.description, s.status,
                 s.author_username, s.create_time, s.update_time
    </select>

    <select id="selectSeriesArticles" resultType="com.pblog.common.domain.vo.SeriesArticleVO">
        SELECT
            a.id,
            a.title,
            a.summary,
            a.cover_file_id,
            a.author_username,
            a.author_nickname,
            a.view_count,
            a.like_count,
            a.comment_count,
            a.sticky,
            a.featured,
            a.published_at,
            a.status,
            r.sort_order
        FROM pb_sa_relation r
        INNER JOIN pb_article a ON a.id = r.article_id
        WHERE r.series_id = #{seriesId}
          AND r.del_flag = '0'
          AND a.del_flag = '0'
        <if test="publishedOnly">
            AND a.status = '1'
        </if>
        ORDER BY r.sort_order ASC, r.id ASC
    </select>

    <select id="selectCandidateArticles" resultType="com.pblog.common.domain.vo.ArticleVO">
        SELECT
            a.id,
            a.title,
            a.summary,
            a.cover_file_id,
            a.author_username,
            a.author_nickname,
            a.view_count,
            a.like_count,
            a.comment_count,
            a.sticky,
            a.featured,
            a.published_at,
            a.status
        FROM pb_article a
        WHERE a.author_username = #{username}
          AND a.del_flag = '0'
        ORDER BY a.published_at DESC, a.create_time DESC, a.id DESC
    </select>
</mapper>
